@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@media screen and (max-device-width:640px), screen and (max-width:640px) and (max-height: 640px){
.container{
    max-width: 640px;
}
    img.logo_img{
    width: 40%;
    height: 40%;
    min-width: 300px;
    min-height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



p.main_text{
    display: block;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;

}
img.first_img{
    width: 10%;
    height: 10%;
    min-width: 300px;
    min-height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.taskbar_under{
    display: flex;
    justify-content: space-between;
}
}